* text=auto
LICENSE text eol=lf
NOTICE text eol=lf
*.js text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
*.py text eol=lf
*.ps1 text eol=crlf
*.iss text eol=crlf
*.mp4 binary
*.png binary
*.ico binary
